.navigation {
             display: flex;
             justify-content: space-between;
             height: 100px;

}

.logo {
    width: 23%;
    height: 750px;
    padding: 1%;
    text-align: left;
}

a{
  text-decoration: none;
}

nav {
     display: flex;
}

.dropdown {
    padding: 50px;
    font-size: 20px;
    font-family: Inter;
    color: #0071a1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


 a:hover{
     color: #02498A;
}



.herolmg1 {
          display: flex;
          height: 400px;
          padding: 25px;   
          justify-content: space-around;
          margin-left: -70px;      
}

.herolmg2 {
          display: flex;
          height: 250px;
          padding: 25px;   
          justify-content: space-around;      
}

.herolmg3 {
          display: flex;
          height: 400px;
          padding: 25px;   
          justify-content: space-around;      
}

#categoryGrid {
  margin: 25px 5%;
  display: grid;
  grid-template-rows: 450px 450px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "Illustration Infographics Investimum"
  "Logos Logos Investimum"
  ;
}

#Illustration {
  grid-area: Illustration;
  background-image: url("../images/beachIllus.png");

}
#Infographics {
  grid-area: Infographics;
  background-image: url("../images/Infographics.svg");
}

#Investimum {
  grid-area: Investimum;
  background-image: url("../images/Investimum.png");
}

#Logos {
  grid-area: Logos;
  background-image: url("../images/Logos.svg");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}


nav a {
    padding: 50px;
    font-size: 20px;
    font-family: Inter;
    color: #0071a1;
}

body {
      margin: 0px;
      width: 100%;
}

h3{
    margin-left: 60px;
    font-family: inter;
}

h5 {
    text-align: center;
    font-size: 25px;
    font-family: Lato;
}

hr {
    height: 1px;
    background-color: #d8edfb;
    border: none;
}

body a{
       color: #0071a1 ;
}

body a:hover{
       color: #02498A;
}

body a:click{
       color: #052340;
}
.title {
        background-color: #d8edfb;
        height: 60px;
}

.herolmg1 h3 {
             color: #0071a1;
             font-size: 40px;
             font-family: lato;
             text-align: center;
             margin: 0px 0px 70px -30px;
}

.herolmg2 h3 {
             color: #0071a1;
             font-size: 40px;
             font-family: lato;
             text-align: center;
             margin: 0px 0px 70px 50px;
}

.herolmg3 h3 {
             color: #0071a1;
             font-size: 40px;
             font-family: lato;
             text-align: center;
             margin: 20px 0px 70px 50px;
}


.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #0071a1;
  text-align: center;
  font-family: inter;
}

.paraH1 {
   font-size: 18px;
   font-family: inter;
   justify-content: top;
   margin-left: -30px;
}


.paraH {
   font-size: 18px;
   font-family: inter;
   justify-content: top;
   margin-left: 55px;
}

.para {
       font-size: 18px;
       font-family: inter;
       margin-top: 20px;
       text-align: center;
}

.AR {
     width: 30%;
     height: 70%;
}


.Mail {
      display: flex;
      justify-content: center;
      margin-left: -5%;
      margin-bottom: -30px;
}

.Mob {
      display: flex;
      justify-content: center;
}

.iMob{
      margin-left: -120px; 
}

.hMob {
       margin-left: 45px;
}

.Soc {
      display: flex;
      justify-content: center;
}

footer {
        background-color: #0071a1;
        margin: 100px 0px 0px 0px;
        padding: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        color: white;
}

.linkS {
        margin: 0.4%;
}

.copyright {
         background-color: #013c51;
         height: 60px;
         color: white;
         text-align: center;
         font-family: Lato;
         padding: 30px 0px 0px 0px;
}
